@import "tailwindcss";

@plugin "daisyui/index.js" {
    themes: light, dark, cupcake, bumblebee, emerald, corporate;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@theme {
    --font-sans: 'Pretendard', sans-serif;
    --font-serif: 'Pretendard', serif;
}

@layer base {
    body {
        @apply font-sans;
    }
}